html{font-family:sans-serif;-webkit-text-size-adjust:200%;-ms-text-size-adjust:140%}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.text-center {
    text-align: center;
}

.explain {
    background-color: #ffe315;
    color: #222;
    border-bottom: solid 3px #e2b50f;
    padding-right: 5px;
}
input[type=text]{border:1px solid #ccc;border-radius:4px;width:130px}
input[type=text]:valid{background-color:#90ee90}
input[type=text]:invalid{background-color:#ffe4e1}


.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}  border-radius: 4px;
